packages/
Tests/obj/Debug/*
MarsRover/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*/bin/*
MarsRover.v11.suo
MarsRover/obj/Debug/
TestResults/MarsRover.TE.Tests.mdf
TestResults/MarsRover.TE.Tests_log.ldf
